<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- External CSS -->
    <link rel="stylesheet" href="css/home.css" type="text/css">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <section class="navv">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Typing_Sikh_Lo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Challenges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ranking</a>
            </li>

          </ul>
        </div>
        <ul>
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </nav>
    </section>
    <section class="colored-section">

      <div class="giant_photo">
        <img class="giantt" src="https://static.wikia.nocookie.net/clashofclans/images/3/35/Giant_info.png/revision/latest/scale-to-width-down/500?cb=20170927232347">
      </div>
    </section>
    <section class="white-section" id="features">

      <div class="container-fluid">

        <div class="row">
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-check-circle fa-4x"></i>
            <h3 class="feature-title">Easy to use.</h3>
            <p>So easy to use, even the barbarian can do it.</p>
          </div>

          <div class="feature-box col-lg-4">
            <i class="icon fas fa-dollar-sign fa-4x"></i>
            <h3 class="feature-title">Free to play</h3>
            <p>Service before Self is our motive</p>
          </div>

          <div class="feature-box col-lg-4">
            <i class="fa-solid icon fas fa-4x fa-bolt"></i>
            <h3 class="feature-title">Improves your speed for sure</h3>
            <p>The site's smooth as butter,even the giants dont stutter.</p>
          </div>
        </div>


      </div>
    </section>
    <section class="colored-section" id="testimonials">
      <div id="testimonial-carousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <h2 class="testimonial-text">This site works wonders.My wpm went up to 40 from 20 within 2 weeks.Worth your time!</h2>
            <img class="testimonial-image" src="images/profile_home/test1.jpg" alt="dog-profile">
            <em class="name">Bert</em>
          </div>
          <div class="carousel-item container-fluid">
            <h2 class="testimonial-text">It is as the builder said..."You shall play or you shall pay"</h2>
            <img class="testimonial-image" src="images/profile_home/test2.jpg" alt="lady-profile">
            <em class="name">William</em>
          </div>
          <div class="carousel-item container-fluid">
            <h2 class="testimonial-text">Earlier I was clumsy with my hands,now even the wizard cant beat me at this dance!</h2>
            <img class="testimonial-image" src="images/profile_home/test3.jpg" alt="lady-profile">
            <em class="name">Tom</em>
          </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

    </section>
    <!-- Call to Action -->

    <section class="white-section" id="cta">

      <div class="container-fluid">

        <h3 class="big-heading">Act before its too late!</h3>
        <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i> Download</button>
        <button class="download-button btn btn-lg brn-light" type="button"><i class="fab fa-google-play"></i> Download</button>
      </div>
    </section>


    <!-- Footer -->

    <footer class="colored-section" id="footer">
      <p>Contact Us</p>
      <div class="container-fluid">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>

      </div>
    </footer>

  </body>

</html>
