<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- External  CSS -->
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="/css/navbar.css">

        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- Bootstrap Scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <section class="navv">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Keybells</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/user">Lessons <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/custom">Custom</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/challenges">Challenges</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/ranking">Ranking</a>
                        </li>

                    </ul>
                </div>
                <ul>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/user/profile">Profile</a>
                            <a class="dropdown-item" href="/user/sign-out">Sign Out</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </section>


        <div class="row">
            <div class="col-md-4 mt-1">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <img src="/images/profile_home/test1.jpg" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h1 class="side-head">NAME GIANT KA</h1>
                            <h4 class="side-2">All Time Best Ranking</h4>
                            <h5 class="side">rank best vaali</h5>
                            <h4 class="side-2">Rank</h4>
                            <h5 class="side">rank abhi vaali</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-1 part2">
                <div class="card-mb-3 content">
                    <h1 class="m-3 pt-3">About</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Full name</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                Giant ka naam
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Years of Experience</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                puchhna hoga giant se vrna 0
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Number of games played</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                numberrrrr of games daalna h
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Levels unlocked</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                bla bla bla
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Average wpm</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                bla bla bla
                            </div>
                        </div>
                    </div>
                    <div class="card-mb-3 content">

                    </div>
                </div>

            </div>
        </div>
    </body>

</html>
