<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
    </head>
    <body>
        <div id="background-login">
            
            <div id="input-login">
                <form id="form-login" action="" method="post">
                <label for="email" class="label-login">ENTER &ensp;EMAIL</label>
                    <input type="email" name="email" id="email" placeholder="email" height="50px" class="input-border-login" required>
                <label for="password" class="label-login">ENTER &ensp;PASSWORD</label>
                    <input type="password" name="password" id="password" placeholder="password" class="input-border-login" required>
                <label for="confirm-password" class="label-login">CONFIRM &ensp;PASSWORD</label>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="confirm password" class="input-border-login" required>
                <div id="outer-div-login" >
                    <div id="inner-div-login">
                        <input type="submit" class="submit-login" value="SIGN UP">
                    </div>
                </div>
                </form>
                <div id="login-sinup-pass">
                <p id="signup-option-login">Already have an account ? <a href="">Log in</a></p>
                </div>
            </div>
            
        </div>
    </body>
</html>