<html>

    <head>
        <link rel="stylesheet" type="text/css" href="css/login.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    </head>

    <body>
        <div id="background-login">

            <div id="input-login">
                <form id="form-login" action="/user/create" method="post">
                    <label for="name" class="label-login">ENTER &ensp;NAME</label>
                    <input type="text" name="name" id="name" placeholder="name" height="50px" class="input-border-login" required>
                    <label for="email" class="label-login">ENTER &ensp;EMAIL</label>
                    <input type="email" name="email" id="email" placeholder="email" height="50px" class="input-border-login" required>
                    <label for="password" class="label-login">ENTER &ensp;PASSWORD</label>
                    <input type="password" name="password" id="password" placeholder="password" class="input-border-login" required>
                    <label for="confirm-password" class="label-login">CONFIRM &ensp;PASSWORD</label>
                    <input type="password" name="confirm_password" id="confirm-password" placeholder="confirm password" class="input-border-login" required>
                    <button type="submit" class="buttons">Sign Up</button>
                </form>

                <a href="/user/auth/google"><button type="button" class="buttons">Sign In with Google</button></a>

                <div id="login-signup-pass">
                    <p id="signup-option-login">Already have an account ? <a href="/sign-in">Log in</a></p>
                </div>
            </div>

        </div>


        <script>
            <% if (locals.flash.success && locals.flash.success.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    layout: 'topRight',
                    type: 'success',
                    text: '<%= locals.flash.success %>',
                    timeout: 1500
                }).show();
            <% } %>
            <% if (locals.flash.error && locals.flash.error.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    layout: 'topRight',
                    type: 'error',
                    text: '<%= locals.flash.error %>',
                    timeout: 1500
                }).show();
            <% } %>
        </script>
    </body>

</html>
