<html>

    <head>
        <link rel="stylesheet" type="text/css" href="css/welcome.css">
        <script defer src="scripts/welcome.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    </head>

    <body>

        <div id="backpage-welcome">

            <!-- Heading -->
            <h1 id="heading-welcome">WELCOME &ensp;! &ensp;MY &ensp;FELLOW &ensp;GIANTS...</h1>

            <!-- Flash Text 1 -->
            <div id="upper-div-welcome">
                <div class="image-welcome">
                    <img src="images/welcome/villager.webp">
                </div>
                <div class="text-img-welcome">
                    <p id="upperPara">Keeping in mind the recent upgrade , it is best that you be like a wizard in your typing speed .</p>
                </div>
                <div class="image-welcome"></div>
            </div>

            <!-- Flash Text 2 -->
            <div id="lower-div-welcome">
                <div class="image-welcome" id="transform-image-wel">
                    <img src="images/welcome/villager.webp">
                </div>
                <div class="text-img-welcome">
                    <p id="lowerPara">To begin the journey , login to your existing account , signup or continue to enter a giant name to proceed further .</p>
                </div>
                <div class="image-welcome"></div>
            </div>

            <!-- Login buttons -->
            <div id="buttons-welcome">
                <a href="/sign-in"><button type="submit" class="buttons">Log In</button></a>

                <a href="/sign-up"><button type="submit" class="buttons">Sign Up</button></a>

                <a href="/guest"><button type="submit" class="buttons">Continue as Guest</button></a>
            </div>
        </div>

        <script>
            <% if (locals.flash.success && locals.flash.success.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    layout: 'topRight',
                    type: 'success',
                    text: '<%= locals.flash.success %>',
                    timeout: 1500
                }).show();
            <% } %>
            <% if (locals.flash.error && locals.flash.error.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    layout: 'topRight',
                    type: 'error',
                    text: '<%= locals.flash.error %> ',
                    timeout: 1500
                }).show();
            <% } %>
        </script>
    </body>

</html>
