<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/css/welcome.css">
    </head>
    <body>
        <div id="backpage-welcome">
            <h1 id="heading-welcome">WELCOME &ensp;! &ensp;MY &ensp;FELLOW &ensp;GIANTS...</h1>
            <div id="upper-div-welcome">
                <div class="image-welcome">
                    <img src="../assets/images/welcome/villager.webp" height="300px" width="100%">
                </div>
                
                <div class="text-img-welcome">
                    <p>Keeping in mind the recent upgrade , it is best that you be like a wizard in your typing speed .</p>
                </div>
            </div>
            <div id="lower-div-welcome">
                <div class="image-welcome" id="transform-image-wel">
                    <img src="../assets/images/welcome/villager.webp" height="300px" width="100%">
                </div>
                <div class="text-img-welcome">
                    <p>To begin the journey , login to your existing account , signup or continue to enter a giant name to proceed further . </p>
                </div>
            </div>
            <form id="form-welcome" action="" method="post">
            <div id="buttons-welcome">
                <div class="outer-div-welcome" >
                    <div class="inner-div-welcome">
                        <input type="submit" class="submit-welcome" value="LOG IN">
                    </div>
                </div>
                <div class="outer-div-welcome" >
                    <div class="inner-div-welcome">
                        <input type="submit" class="submit-welcome" value="SIGN UP">
                    </div>
                </div>
                <div class="outer-div-welcome" >
                    <div class="inner-div-welcome">
                        <input type="submit" class="submit-welcome" value="CONTINUE">
                    </div>
                </div>
            </div>
            </form>
        </div>
    </body>
</html>