<html>

    <head>
        <link rel="stylesheet" type="text/css" href="css/welcome.css">
    </head>

    <body>
        <div id="backpage-welcome">
            <h1 id="heading-welcome">WELCOME &ensp;! &ensp;MY &ensp;FELLOW &ensp;GIANTS...</h1>
            <div id="upper-div-welcome">
                <div class="image-welcome">
                    <img src="images/welcome/villager.webp" height="300px" width="100%">
                </div>

                <div class="text-img-welcome">
                    <p>Keeping in mind the recent upgrade , it is best that you be like a wizard in your typing speed .</p>
                </div>
            </div>
            <div id="lower-div-welcome">
                <div class="image-welcome" id="transform-image-wel">
                    <img src="images/welcome/villager.webp" height="300px" width="100%">
                </div>
                <div class="text-img-welcome">
                    <p>To begin the journey , login to your existing account , signup or continue to enter a giant name to proceed further . </p>
                </div>
            </div>
            <form id="form-welcome" action="" method="post">
                <div id="buttons-welcome">
                    <div class="outer-div-welcome">
                        <div class="inner-div-welcome">
                            <!-- href="/sign-in" -->
                            <input type="submit" class="submit-welcome" value="LOG IN">
                        </div>
                    </div>
                    <div class="outer-div-welcome">
                        <div class="inner-div-welcome">
                            <!-- href="/sign-up" -->
                            <input type="submit" class="submit-welcome" value="SIGN UP">
                        </div>
                    </div>
                    <div class="outer-div-welcome">
                        <div class="inner-div-welcome">
                            <!-- href="/guest" -->
                            <input type="submit" class="submit-welcome" value="CONTINUE">
                        </div>
                    </div>
                </div>
            </form>
        </div>



        <!-- <script>
            document.querySelector('input[value = "LOG IN"]').addEventListener('click', function (event) {
                event.preventDefault();
                window.location.replace('/sign-in');
            });
            document.querySelector('input[value = "SIGN UP"]').addEventListener('click', function (event) {
                event.preventDefault();
                window.location.replace('/sign-up');
            });
            document.querySelector('input[value = "CONTINUE"]').addEventListener('click', function (event) {
                event.preventDefault();
                window.location.replace('/guest');
            });
        </script> -->
    </body>

</html>
