body {
    height: 100vh;
}

.main-section {
    width: 100%;
    /* padding: 0px 30px 30px 40px; */
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* position: absolute; */
    position: relative;
    justify-content: space-between;

    /* background-image: linear-gradient(to bottom, #E3AF66, #FFB319, #e62a09); */
    background-color: #d9bf9a;
    background-size: cover;
}

.custAndRand input[type="submit"],
.facts input[type="submit"] {
    height: 3em;
    width: 11em;
    margin: 20px;
    background-color: rgb(73 187 145);
    border: none;
    border-radius: 15px;
    box-shadow: lightgrey 3px 3px 0px 2px;
    font-size: x-large;
}

.custAndRand input[type="submit"]:hover,
.facts input[type="submit"]:hover {
    filter: brightness(150%);
}

.custAndRand,
.facts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custAndRand form,
.facts form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custAndRand form>div,
.facts form>div {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.custAndRand form>div>div,
.facts form>div>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.custAndRand input,
.facts input {
    outline: none;
    width: 100px;
    border: #cccccc 1px solid;
    box-shadow: 0px 0.5px 0px 0px grey;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 5px;
}

.category {
    /* width: 6em; */
    font-size: large;
    text-align: center;
    margin: 4px;
}

.custAndRand label,
.facts,
label {
    font-size: large;
}

.facts form>div {
    /* justify-content: center; */
    max-width: 400px;

}


/* For History */

th {
    font-size: 26px;
}

td {
    box-sizing: border-box;
    font-size: 24px;
    height: 100px;
}

.history {
    display: none;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
    background-color: #d9bf9a;
}

.history>div {
    width: 100%;
    padding-left: 5%;
}

.history>div h4 {
    text-align: left;
    margin-top: 10px;
}

.history table {
    width: 90%;
    border-radius: 10px;
}

.history table th {
    padding: 10px 10px 10px 10px;
    background-color: #102f4e;
    color: white;
}

.history table thead th:first-child {
    border-top-left-radius: 10px;
}

.history table thead th:last-child {
    border-top-right-radius: 10px;
}

.history table tr td:first-child {
    box-shadow: 1px 0px 0px 0px inset #102f4e;
}

.history table tr td:last-child {
    box-shadow: -1px 0px 0px 0px inset #102f4e;
}

.history table tr:last-child {
    border-bottom: 1px solid #102f4e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.history table tr td {
    padding: 5px 10px 5px 10px;
}

.history table tr:nth-child(2n) {
    background-color: rgb(205 205 207);
}

.history table tr:nth-child(2n+1) {
    background-color: rgb(255, 255, 255);
}

td {
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

/* For history links */
.serials {
    text-decoration: none;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.serials:hover {
    cursor: pointer;
    text-decoration: none;
}

.serials img {
    height: 30px;
}