/* For History */

th {
    font-size: 26px;
}

td {
    box-sizing: border-box;
    font-size: 24px;
    height: 100px;
}

.history {
    display: none;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
    background-color: #d9bf9a;
}

.history>div {
    width: 100%;
    padding-left: 5%;
}

.history>div h4 {
    text-align: left;
    margin-top: 10px;
}

.history table {
    width: 90%;
    border-radius: 10px;
}

.history table th {
    padding: 10px 10px 10px 10px;
    background-color: #102f4e;
    color: white;
}

.history table thead th:first-child {
    border-top-left-radius: 10px;
}

.history table thead th:last-child {
    border-top-right-radius: 10px;
}

.history table tr td:first-child {
    box-shadow: 1px 0px 0px 0px inset #102f4e;
}

.history table tr td:last-child {
    box-shadow: -1px 0px 0px 0px inset #102f4e;
}

.history table tr:last-child {
    border-bottom: 1px solid #102f4e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.history table tr td {
    padding: 5px 10px 5px 10px;
}

.history table tr:nth-child(2n) {
    background-color: rgb(205 205 207);
}

.history table tr:nth-child(2n+1) {
    background-color: rgb(255, 255, 255);
}

td {
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

/* For history links */
.serials {
    text-decoration: none;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.serials:hover {
    cursor: pointer;
    text-decoration: none;
}

.serials img {
    height: 30px;
}