@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');


body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

#background-login {
    height: 100%;
    width: 100%;
    /* background-image: url("../images/welcome/for_backgroung.jpg"); */
    background-image: url("../images/background_image/bg4.jpg");
    background-size: cover;
    /*filter: brightness(120%);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-login {
    background-color: #e3f2fd6e;
    height: auto;
    width: 40%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 310px;
}
@media only screen and (max-width: 600px) {
    #input-login{
        width: 90%;
    }
  }
@media only screen and (max-width: 800px) {
    #input-login{
        width: 60%;
    }
  }
@media only screen and (max-width: 1000px) {
    #input-login{
        width: 50%;
    }
  }
@media only screen and (max-width: 1300px) {
    #input-login{
        width: 50%;
    }
  }


.input-border-login {
    height: 40px;
    width: 60%;
    box-shadow: inset 0px 0px 16px 0px rgb(202 222 223);
    border-radius: 15px;
    font-size: 20px;
    color: #212930;
    border: none;
    transition: all 0.8s;    
    outline: none;
    padding-left: 20px;
}

#form-login {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.label-login {
    font-size: 25px;
    /* text-shadow: 1px 1px; */
    margin-top: 25px;
    margin-bottom: 2px;
    font-family:  'Open sans',sans-serif;
}

#signup-option-login {
    font-size: 20px;
}

#login-signup-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}

#signup-option-login a{
    text-decoration: none;
    color: purple;
    font-family: 'Roboto', sans-serif;
}
#signup-option-login a:hover{
    color: rgb(92, 2, 92);
    text-shadow:4px 3px 10px rgb(82, 2, 92);
}


.google-login{
    margin-top: 2px !important;
}

a{
    text-decoration: none;
}
  
.buttons {
    background-image: linear-gradient(to right, #1CD8D2 0%, #67ecfd 51%, #1CD8D2 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.1s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #696969;
    border-radius: 10px;
    display: block;
    border: none;
  }

.buttons:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor:pointer;
}
 

.input-border-login:focus{
    box-shadow: -3px 2px 7px 5px rgb(105, 109, 109);
    transform: translate3d(2px,1px,1px);
    transition: all ease-in 100ms;
}

.input-border-login:hover::placeholder{
    transform: translateX(5px);
    transition: all ease-out 200ms;
}