/* Main section on left where headings and levels */
.main-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* position: absolute; */
    position: relative;
    /* margin-top: 76px; */
    background-color: #d9bf9a;
}

/* All lessons of all types */
.levels {
    width: 100%;
    padding: 30px 30px 30px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;

    /* background-image: url("../images/profile_home/img4.png"); */
    /* background-image: linear-gradient(to bottom,#E3AF66,#808080,#E69900,#D426BD,#4D4D4D,#E62B09,#FFB319); */
    background-color: #d9bf9a;
    background-size: cover;
}

/* Lessons of each type */
.levels div {
    display: flex;
    /* flex-direction: row; */
    position: relative;
    flex-wrap: wrap;
    justify-content: left;
}

.levels div a {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

/* Levels in each type of lesson */
.box,
.add {
    background-color: rgb(73 187 145);
    width: 130px;
    height: 130px;
    margin: 10px;
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    box-shadow: lightgrey 3px 3px 0px 2px;
}

.boxHover {
    box-shadow: lightgrey 3px 3px 0px 2px;
    filter: brightness(150%);
}

/* Class when box div is clicked */
.boxClicked {
    /* box-shadow: lightgrey 1px 1px 0px 2px; */
}

.levels h3 {
    margin-top: 50px;
}

.levels>h3:first-child {
    margin-top: 10px;
}

.box p {
    text-align: center;
    width: 100%;
    padding-top: 6px;
    padding-left: 2px;
    padding-right: 8px;
    overflow: hidden;
}

.box h1 {
    text-align: center;
}

.stars-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.stars-container div {
    display: inline-block;
}

.stars {
    font-size: 1.2em;
}

.one,
.five {
    margin-top: 5px;
}

.two,
.four {
    margin-top: 10px;
}

.three {
    margin-top: 14px;
}

.add {
    display: flex;
    justify-content: center !important;
    align-items: center;
    background-color: cadetblue;
    border: 1px solid lavenderblush;
}

.add img {
    width: 80px;
    height: 80px;
}

.add:hover {
    background-color: seagreen;
}

img[alt="delete"] {
    height: 32px;
}

.delete button {
    height: 32px;
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
}

img[alt="delete"]:hover {
    cursor: url('/images/myParas/cursor.svg');
}


/* For Adding Paragraphs */

.addPara {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    margin-top: -40vh;
    margin-left: -40vw;
    z-index: 1000;

    border: solid 1px black;
    background-color: antiquewhite;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.makeVisible {
    display: flex;
}

.addPara form {
    display: block;
}

.fileDiv {
    width: 100%;
    padding: 1%;
}

.fileDiv>form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.textDiv {
    width: 100%;
    padding: 1%;
}

.textDiv>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.addPara img[alt="Close"] {
    width: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: -20px;
    margin-top: -20px;
    background-color: #ffd0d0;
    border-radius: 20px;
}

.addPara img[alt="Close"]:hover {
    box-shadow: 0px 0px 20px 0px #f06666;
    filter: brightness(120%);
    cursor: pointer;
}

textarea {}