body {
    background-image: url("../images/profile_home/img4.png");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: repeat;
    /* Do not repeat the image */
    margin-top: 20px;
    background-size: cover;
    /* Resize the background image to cover the entire container */

    margin-top: 0px;
}

.main {
    padding: 15px;
    font-family: "";
}

.sidebar {
    background-color: #3C4048;
    color: white;
    height: 100%;
}

#avatarDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.sidebar a {
    margin-left: 10px;
    display: block;
    color: white;
    /* padding-bottom: 10px; */
    font-size: 30px;
    text-decoration: none;
    width: fit-content;
    border-radius: 50%;
}

.sidebar a img {
    border-radius: 50%;
}

.changeImg:hover {
    filter: brightness(50%);
    cursor: pointer;
}

/* img[alt="camera"] {
display: none;
position: absolute;
margin-left: 50%;
margin-top: 50%;
top: -50%;
left: -50%;
} */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: initial;
}

.content {
    background-color: whitesmoke;
}

.about {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.row {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.side-head {
    padding: 10px;
    font-family: "Montserrat-Bold";
}

.side {
    padding: 20px;
    font-family: "Montserrat";
}

.side-2 {
    padding: 15px;
}

.part2 {
    margin-top: 0px;
}

.part3,
.content2 {
    padding: 0px;
}

@media screen {
    .row2 {
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: row;
    }
}

@media (min-width:768px) {
    .part3 {
        width: 100%;
        flex-basis: 31%;
    }

    .card-columns {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}