body {
    margin: 0%;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(168, 149, 149);
}

.nav-btn img {
    width: 28px;
    height: 28px;
}

.left img {
    width: 28px;
    content: url('../images/type/bars.svg');
    transition: all 100ms linear;
}

.left img:hover {
    transform: rotateZ(45deg);
    content: url('../images/type/arrow.svg');
}

#nav {
    width: 100vw;
    height: 35px;
    padding: 3px 10px 3px 10px;
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}


.right {
    width: 30%;
}

.right .options-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#content {
    top: 41px;
    height: calc(100% - 41px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#text {
    /* TODO: Change height later */
    height: 50vh;
    width: 80vw;
    overflow: scroll;
    background-color: rgb(47 47 47);
    color: rgb(189, 174, 174);
}

#keyboard {
    width: 80vw;
    background-color: black;
}

#keyboard span {
    display: inline-block;
}

.envelope {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.word {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.unit {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    font-size: 36px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    margin: 1px;
}

.space {
    visibility: hidden;
    /* font-size: 16px; */
}

.done {
    /* color: rgb(69, 193, 69); */
    background-color: rgb(69, 193, 69);
    color: white;
}

.wrongDone {
    /* color: red; */
    background-color: red;
    color: white;
    /* text-decoration: underline; */
}

.next {
    background-color: rgb(243, 255, 10);
    color: blue;
}

.nextKey {
    background-color: rgb(115, 0, 255) !important;
}

/* ABOVE PROPERTIES SHOULD NOT BE MODIFIED */

/* You can add other properties below */

.row1,.row2,.row3,.row4,.row5{
    width: 100%;
    display: flex;
    flex-direction: row;
    /*display: inline-block;*/
    border: 1px solid black;
}
.row1 span,.row2 span,.row3 span,.row4 span,.row5 span{
    width: 10%;
    border: 1px solid rgb(157, 148, 148); /*just remove this border for other layout*/
    background-color: rgb(47 47 47);
    text-align: center;
    margin: 2px 2px;
    box-shadow: 2px rgb(47 47 47);
}
.row2 span,.row3 span,.row4 span,.row5 span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row1 span div,.row2 span div,.row3 span div,.row4 span div,.row5 span div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(189, 174, 174);
    box-shadow: 2px rgb(47 47 47);
    font-weight: 800;
    font-size: 20px;
}
#backspace{
    width: 20%;
}
#tab{
    width: 15%;
}
#tab div{
    display: flex;
    flex-direction: column-reverse;
}
#l-control,#r-control{
    width: 20%;
    height: 35px;
}
#l-option,#r-option{
    width: 17%;
}
#space{
    width: 40%;
}
#caps-lock{
    width: 19%;
}
#l-shift,#r-shift{
    width: 23%;
}
#enter{
    width: 19%;
}
/*.row1 span div{
    height: auto;
    border: 1px solid black;    
}*/

.fade-in-down{
    /* height: 290px;
    width: 500px; */
    /* height: 100%;
    width: 100%; */
    background-color: rgb(66, 57, 57);
    border-radius: 25px;
    position: relative;
    padding: 5px 30px;
    font-size: 25px;
    color: rgb(243, 255, 10);
    font-weight: 900;
    /* top: -50%;
    left: -50%; */
    top: 0%;
    transform:translateY(-50%);
    scale: 0;
    border: 8px solid rgb(243, 255, 10);
    /* border: 8px solid rgb(100 86 86); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* animation: fade 1s forwards; */


    z-index: 2;
}
@keyframes fade {
    0% {
       transform:translateY(-50%);
       scale: 0;
    }
    100% {
       transform:translateY(0%);
       backdrop-filter: blur(40px);
       scale: 1;
    }
 }

.popup{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0%;
    left: 0%;
    transform: translate(50%,50%);
    z-index: 2;
}

.animate{
    animation: fade 1s forwards;
}


/* body> *:not(.popup){
    filter: blur(5px);
} */