body {
    margin: 0px;
}

a {
    text-decoration: none;
}

#backpage-welcome {
    width: 100%;
    height: 100vh;
    /*border: 2px solid black;*/
    display: flex;
    /* background-image: url("../images/profile_home/img4.png"); */
    /* background-image: url("../images/background_image/bg1.jpg"); */
    background-image: linear-gradient(45deg, #ff9100 80%, #dada2b);
    background-size: contain;
    filter: brightness(110%);
    /* padding-bottom: 100px; */
    flex-direction: column;
    align-items: center;
}

#heading-welcome {
    margin-top: 50px;
    font-size: 45px;
    text-shadow: 2px 2px 5px;
    color: white;
}

#transform-image-wel {
    transform: rotateY(180deg);
}

#upper-div-welcome,
#lower-div-welcome {
    margin-top: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    /*border: 2px solid black;*/
    justify-content: space-around;
}

#lower-div-welcome {
    /* margin: -80px;
    width: 90%; */
    display: flex;
    flex-direction: row-reverse;
    /*border: 2px solid black;*/
}

.image-welcome {
    /*border: 2px solid black;*/
    width: 25%;
    margin: 10px;
}

.image-welcome img {
    height: 400px;
}

.text-img-welcome {
    margin: 30px;
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30%;
    width: 50%;
    border: 8px solid rgb(102, 89, 89);
    padding: 5px 10px;
    border-radius: 25px;
    background-color: rgb(237, 226, 226);
}

#buttons-welcome {
    border: 10px solid rgb(102, 89, 89);
    background-color: rgb(237, 226, 226);
    box-shadow: inset 4px 4px 4px rgb(73, 69, 69);
    margin-top: 100px;
    padding-bottom: 15px;
    height: auto;
    width: 30%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a[href="/sign-in"] {
    margin-top: 17px;
}

.buttons {
    background-image: linear-gradient(to right, #1CD8D2 0%, #67ecfd 51%, #1CD8D2 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #696969;
    border-radius: 10px;
    display: block;
    border: none;
}

.buttons:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.visible {
    display: none;
}